{
    "consumer": {
        "key":          "<your-consumer-key>",
        "secret":       "<your-consumer-secret>"
    },
    "oauth": {
        "token":        "<your-oauth-token>",
        "token_secret": "<your-oauth-token-secret>"
    },
    "blog_name":        "<your-blog-name>",
    "options": {
        "auto_tag_filename":    true,
        "auto_tag_timestamp":   true,
        "tag_min_len":		    3,
        "tag_max_cnt":		    20,
        "photo_url":            "/posts[0]/photos[0]/original_size/url",
        "video_url":            "/posts[0]/video_url",
        "photo_wait":           5,
        "video_wait":           10,
        "loop_wait":            20
    }
}
